* {
    font-family: "Press Start 2P", system-ui;
    padding: 0;
    margin: 0;
    z-index: 999;

}
.overlay {
    display: none;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.52);
    position: absolute;
    z-index: 1000;
}
body {
    max-height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
    
}
img {
    height: 700px;
}

.stat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.no-monster{
    font-size: 32px;
}
.stat-container {
    display: flex;
    flex-direction: column;
    background: #fdfdfdba;
    border: 1px solid black;
    width: 15rem;
    padding: 30px;
    height: 180px;
    gap: 50px;
    border-radius: 3px;
    position: absolute;
    bottom: 20px;
    right: 0;
}

.stat-text {
    display: flex;
    align-items: center;
    gap: 10px;

}

.monster-type {
    color: #666666;
    padding: 5px;
}
.image-container {
    position: relative;
}
.monster-btn {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #00000046;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    filter: opacity(70%);
}
.button-container {
    display: flex;
    width: 800px;
    height: 150px;
    justify-content: space-around;
}

.add-log-container {
    float: right;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    gap: 10px;
}

.log {
    height: 300px;
    width: 300px;
    background: #F3F3F370;
    border: 1px solid black;
    padding: 20px;
}
.add-new {
    background: #F3F3F370;
    border: 1px solid black;
    border-radius: 4px;
    padding: 20px 0;
    cursor: pointer;
}

.div-add-new-monster-card {
    z-index: 1001;
    height: 300px;
    background: #F3F3F3;
    border: 1px solid black;
    padding: 50px;
    border-radius: 4px;
    position: absolute;
    top: 20%;
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: space-between;

    input {
        height: 40px;
        border: 1px solid black;
    }
    select {
        height: 40px;
        border: 1px solid black;
        width: 284px;

    }
    h3 {
        text-align: center;
    }
}

.name-type {
    margin-top: 70px;
}
.type-option {
    height: 40px;
    font-size: 13px;
}
.add-btn {
    background: #F3F3F370;
    border: 1px solid black;
    padding: 20px 0;
    border-radius: 4px;
    cursor: pointer;
}

select#monster-name {
    border: none;
    font-size: 42px;
    min-width: 400px;
}

select#monster-name:focus {
    outline: none;
}
select#monster-name:hover {
    border-bottom: 1px solid black;
}
option {
    
    font-size: 30px;
}
.log {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
}

.log-item {
    font-size: 12px;
    line-height: 1.2;
}

.log-feed {
    color: #E63946;
}

.log-play {
    color: #52B788;
}

.log-rest {
    color: #FFD166;
}

.log-ranaway {
    color: #780000;
}